.product-container{
    display: grid;
    grid-template-columns: 1fr; 
}


.product-background {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.product-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.5);
    z-index: 1;
    
}

.nav_container {
    position: relative;
    grid-row: 1;
    z-index: 2;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

@media (max-width: 1500px) {
    .product-background {
        height: 75vh;
        grid-template-rows: 150px auto;
    }
}
@media (max-width: 768px) {
    .product-background {
        height: 50vh;
        grid-template-rows: 150px auto;
    }
}